@model AcademyPortal.ViewModel.SignUpUserViewModel;
@{
    ViewData["Title"] = "Sign Up Page";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-7 py-5 text-center ">
            <h4>Welocome To Academy Portal SignUp Please</h4>
        </div>
        <div class="col-md-7">
            <form method="post" novalidate>
                <small><div asp-validation-summary="ModelOnly" class="text-danger"></div></small>
                <div class="form-group pb-1">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <small><span asp-validation-for="Email" class="text-danger"></span></small>
                </div>
                <div class="form-group pb-1">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <small><span asp-validation-for="Password" class="text-danger"></span></small>
                </div>
                <div class="form-group pb-1">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <small><span asp-validation-for="ConfirmPassword" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign Up" class="btn btn-success mt-2" />
                </div>
            </form>
        </div>
    </div>
</div>